@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  height: fit-content;
  font-family: "Cabin", Sans-serif;
}


.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  display: block;
  height: 100px;
  width: 100%;
  background: #ffffff;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 950px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #4c4c4c;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  transition-duration: 0.15s;
  color: #c1957c;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0 0 0 10px;
  font-family: "Cabin", Sans-serif;
  background: linear-gradient(
    to bottom,
    #c1957c,
    #c1957c 20%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 40%,
    #c1957c 40%,
    #c1957c 60%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 80%,
    #c1957c 80%,
    #c1957c 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  z-index: 888;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #dedcdc;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}
.addditional-information {
  margin-top: 10px;
}
.add-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
}
#hamburger-menu h3 {
  color: #c1957c;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}
.image {
  width: 50%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#hamburger-menu a {
  color: #4c4c4c;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}


#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
  z-index: 2;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
} 
@media screen and (max-width: 337px) {
  .vip-child-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .last-added-products-div {
    flex-direction: column;
  }
  .icons-in-header {
    flex-direction: column !important;
  }
  .vip-products-div {
    flex-direction: column;
  }
  .second-top {
    display: none;
  }
  .sr-area-div {
    width: 300px;
  }
  .sr-img-brand {
    width: 60px;
  }
  #hamburger-menu #sidebar-menu {
    z-index: 1;
  }
}
@media screen and (max-width: 580px) {
  .add-information {
    justify-content: center;
  }
  .must-read-div {
    flex: 1 1 auto;
    text-align: center;
  }
  .send-message-wp-div {
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 665px) {
  .price-header-main {
    flex-direction: column;

  }
}
@media screen and (max-width: 965px) {
  #hamburger-menu #sidebar-menu {
    z-index: 9999;
  }
  .shop-container {
    justify-content: center !important;
    align-items: center !important;
  }
  .main-top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .logo-icons {
    width: fit-content;
    margin: 0 !important;
  }
  .logo:nth-child(1){
    font-size: 25px !important;
  }
  .icons-top-a svg {
    width: 20px;
  }

  #main-menu {
    display: none;
  }
  #hamburger-menu {
    cursor: pointer;
    display: block;
  }
}

.main-top {
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
  text-align: center;
  height: 65px;
  padding-top: 25px;
}
.logo-icons {

  max-width: 95vw;
  margin: 0 auto;
}
.logo {
  cursor: pointer;
  float: left;
  display: inline-block;
  /* color: #e6c403; */
}
.logo:nth-child(1) {
  color: #e6c403;

  font-size: 35px;
  font-weight: 600;
  /* text-shadow:  0px 0px 5px #c1957c; */
}
.logo:nth-child(2) {
  color: #cbac9a;

  font-size: 35px;
  font-weight: 600;
}
.logo:nth-child(3) {
  color: #baa633;

  font-size: 35px;
  font-weight: 600;
}

.logo:nth-child(4) {
  color: #c1957c;

  font-size: 35px;
  font-weight: 600;
}
.banner-test {
  width: 100%;
  height: 200px;
  background-color: #ac9829;
  margin: 40px auto;
}
.heart {
  height: 15px;
}
.texts-in-nd-top {
  height: 100%;
}
.icons {
  display: inline-block;
  float: right;
}
.collapse {
  height: 100%;
}
.navbar {
  height: 100%;
}
.icons-top-a {
  padding: 8px;
  color: #c1957c;
  text-decoration: none;
}
.icons-top-a:hover {
  color: #000000;
}

.search-box {
  /* position: relative; */
}
.second-top {
  /* display: flex; */
  height: 7 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navbar-nav {
  height: 100%;
  text-align: center;
  list-style: none;
  padding: 0 15px;
  width: 950px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
.nav-item {
  width: 12.5%;
}
.nav-item a {
  height: 70px;
  padding-top: 7px;
  text-align: center;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #4b3b31;
  /* display: inline-block; */
}
.nav-item:hover {
  color: #d0aa65;
  background-color: #fbfbfb;
}
.nav-item:hover a {
  color: #d0aa65;
}

.filter-area {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 2px;
  width: 100%;
  /* margin-left: 15%; */
  background-color: #ece8e9;
  height: fit-content;
  padding-bottom: 15px;
  position: relative;
  display: none;
  transition-duration: 0.4s;
}

.filter-content {
  /* background-color:beige ; */
  padding-top: 25px;
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-options .filter-header {
  font-weight: 600;
  display: block;
  padding: 8px;
  color: rgb(255, 255, 255);
}
.radio-filter {
  margin: 10px;
  display: inline-flex;
  overflow: hidden;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio-filter_input {
  margin: 5px;
  display: none;
}
.radio-filter_label {
  font-size: 14px;
  padding: 8px 14px;
  background: #c1957c;
  color: #ffff;
  cursor: pointer;
  transition: background 0.1s;
}
.radio-filter_label:not(:last-of-type) {
  border-right: 1px solid #b48466;
}
.radio-filter_input:checked + .radio-filter_label {
  background: #94715d;
}
.submit-div {
  text-align: center;
}
.filter-sumbit {
  margin-top: 20px;
  cursor: pointer;
  background: #c1957c;
  width: 150px;
  height: 45px;
  border: 0;
  color: #ffff;
  border-radius: 25px;
}
.filter-sumbit:hover {
  background: #94715d;
}
.filter-options {
  background-color: #ac9829;
  width: 297px;
  border-radius: 15px 15px 15px 15px;
  margin: 10px;
}

.input_number {
  margin: 0 0 0 5%;
  background-color: rgba(240, 248, 255, 0);
  width: 40%;
  height: 35px;
  outline: none;
  border: 0px solid;
  /* border-radius: 15px; */
  line-height: 30px;
  font-size: 20px;
}
#input_number_min {
  border-right: 1px solid #94715d;
}
.input_number_div {
  display: block;
  width: 80%;
  background-color: #ffffff;
  border-radius: 15px;
}
.input_number:focus {
  outline: none;
  border: 0px solid;
}
.content-filter-div {
  margin-left: 5%;
  height: 100%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tm-selector {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  color: #ffffff;
  background-color: #c1957c;
  width: 80%;
  height: 45px;
  outline: none;
  border: 0px solid;
  height: 6vh;
  margin-top: 15px;
  padding: 0 10px;
  border-radius: 15px;
}
/* -----------Slider----------- */
.brands-carousel-img:hover .sr-img-brand {
  /* right: 2px; */

  transition-duration: 0.4s;
  border: 1px solid #c1957c;
  margin-bottom: 7px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.brands-carousel-img:hover {
  /* cursor: pointer; */
  /* padding: 10px; */
  /* text-align: center; */
  margin-bottom: 24px;

  /* scroll-snap-align: start; */
  /* background-color: #4b3b31; */
  /* width: 130px; */
  /* transform: translateX(-17px); */

  /* padding: 0  0 ; */
}

.brands-carousel-img {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 45px 10px;

  scroll-snap-align: start;
  /* background-color: #4b3b31; */
  width: 130px;
  padding: 0 0;
}
.brands-carousel-content {
  display: inline-flex;
  scroll-snap-type: x mandatory;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: auto;

  /* display: flex; */
}
.brands-store-name {
  font-weight: 600;
  color: #c1957c;
}

/* ::scrollbar{
    display: none;
} */

.sr-area {
  /* width: 78%; */
}
.sr-buttons {
  color: #c1957c;
}
.sr-img-brand {
  /* border: 1px solid #c1957c; */
  margin-bottom: 10px;
  width: 75%;
  border-radius: 50%;
  /* width: 45px; */
}
.sr-content {
  width: 90%;
  margin-left: 1%;
}
.sr-area-div {
  padding: 25px 15px !important;
  max-width: 950px; 
  margin: 0 auto !important;
}

.vip-products-text-area {
  display: block;
  background-color: #f6f7fa;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px; */
  
  width: 100%;
}
.vip-child-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding: 25px 15px;
}
.vip-text {
  color: #c1957c;
  /* text-align: center; */
  display: inline-block;
  font-size: 40px;
  /* width: 100%; */
  /* margin-left: 31px; */
}
.all-vip-btn {
  margin: auto 0;
  float: right;
  display: inline-block;
}
.btn-shw-all-vip {
  padding: 0 10px;
  height: 45px;
  background-color: #c1957c;
  border: 0px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 15px;
  cursor: pointer;
}
.btn-shw-all-vip:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition-duration: 0.1s;
}
.vip-products-div {
  flex-wrap: wrap;
 
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid #c1957c;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.vip-product-card {
  cursor: pointer;
  margin-top: 15px;
  margin: 15px 10px 0 10px;
  width: 250px;
  background-color: #f6f7fa;
  /* border: 1px solid #c1957c; */
  border-radius: 5px;
  height: 350px;
}
.vip-product-card:hover {
  /* border: 1px dashed #c1957c; */
  box-shadow: #c1957c 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.brilliant-icon-div {
  /* border-radius: 5% 5% 5% 5%; */
}

.brilliant-icon {
  margin: 8px 5px;
  padding: 3px 3px;
  /* right: 0; */
  color: rgb(0, 182, 182);
  width: 50px;
  background-color: #f6f7fa;
  border-radius: 0px 10px 0px 10px;
  position: absolute;
  /* right: 10px; */
}
.img-prdct {
  border-radius: 5px;

  width: 100%;
  height: 200px;
}
.price {
  margin: 5px 0 8px 0;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.weight {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}
.prob {
  /* padding:2px ; */
  color: #ffff;
  font-weight: 600;
  /* font-size: 15px; */
  /* height: 20px; */
  width: 90px;
  text-align: center;
  display: inline-block;
  padding: 3px;
  margin-right: 6px;
  background-color: rgb(124, 206, 0);
}
.header-prdct {
  margin-top: 10px;
  font-size: 16px;
  padding-left: 8px;
}
.card-date-inf {
  font-size: 14px;
  margin-top: 14px;
  padding-left: 8px;
}
.show-vip-all {
  width: 98%;
  margin-left: 1%;
  background-color: #e3e3e3;
  border: 0;
  cursor: pointer;
  color: #c1957c;
  font-size: 15px;
  letter-spacing: 4px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
}
.show-vip-all:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition-duration: 0.4s;
}
.last-added-products-div {
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid #c1957c;
  /* height: 1500px; */
  display: flex;
  justify-content: center;
}
.show-all-btn-div {
  margin: 30px 25px;
  width: 100%;
  text-align: center;
}

.show-all-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #c1957c;
  height: 40px;
  text-align: center;
  border: 0px;
  width: 200px;
  border-radius: 15px;
  cursor: pointer;
}
.show-all-button:hover {
  background-color: #a5816c;
  transition-duration: 0.4s;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.disabled-ads {
  display: none;
}
/* Responive */
.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */

.products-container {
  max-width: 950px;
 margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background: #ccc; */
}
.product-box {

  background: #fff;
  /* border: 1px solid #c1957c; */
  position: relative;
  overflow: hidden;
  /* width: 400px; */
  margin: 20px;
}
.product-box .img-prdct-card img {
  height: 200px;
  width: 200px;
}

/* -------Stores----- */
.stores-area-main {
  /* height: 100px; */
  padding: 25px 15px;
  width: 950px;
  margin: 0 auto;
  /* background-color: #c1957c; */
  display: flex;
  justify-content: space-AROUND;
  flex-wrap: wrap;
}
.img-card {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  height: 40px;
}
.store-card-img {
  outline: 4px rgb(255, 132, 0) solid;
  -webkit-border-radius: 2px rgb(173, 173, 0) solid;
  -khtml-border-radius: 2px rgb(173, 173, 0) solid;
  -moz-border-radius: 2px rgb(173, 173, 0) solid;
  border-radius: 2px rgb(173, 173, 0) solid;
  transition: all 0.25s ease-in-out;
  border: 5px #ffff solid;
  /* outline: #e2e4e8 4px solid; */
  z-index: 2;
  position: relative;
  border-radius: 50%;
  width: 140px;
}
.premium {
  outline: 4px rgb(255, 132, 0) solid;
  -webkit-border-radius: 2px rgb(173, 173, 0) solid;
  -khtml-border-radius: 2px rgb(173, 173, 0) solid;
  -moz-border-radius: 2px rgb(173, 173, 0) solid;
  border-radius: 2px rgb(173, 173, 0) solid;
}
.premium-icon-div {
  position: absolute;
  float: left;
}
.premium-icon {
  width: 30px;
}
.verfied-icon {
  width: 30px;
  transform: translateY(8px);
}
.store-card-main {
  text-align: center;
  width: 300px;
  border-radius: 15px 15px 0 0;
  background-color: #e2e4e800;
}
.store-card-name-main {
  /* background-color: #ffffff; */
  padding-top: 50px;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}
.store-card-name {
  padding: 5px;
  width: 100%;
  background-color: #ffffff;
}
.store-name {
  padding: 15px;
  /* margin: 10px auto;
    background-color: #ffffff;
    color: #c1957c;
    border-radius: 15px;
    display: flexbox;
    font-size: 18px;
    height: 18px;
    width: 100px;
    padding: 10px; */
}
.point-of-store {
  /* background-color: #ffffff;
    color: #c1957c;
    border-radius: 15px;
    display: flexbox;
    font-size: 18px;
    height: 18px;
    width: 30px;
    padding: 10px;
    text-align: center; */
  transform: translateY(15px);
  background-color: #c1957c;
  border-radius: 5px;
  font-size: 20px;
  float: right;
  padding: 1px;
  /* padding: auto 40px; */
  /* margin-right: 10px;  */
  position: absolute;
  /* position: relative; */
  transform: translateX(+25px);
  /* width: 25%; */
  color: #ffffff;
  /* right: ; */
}
.social-medias {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.social-media-logos {
  width: 20px;
  height: 20px;
}

.star-img-point {
  width: 25px;
  height: 25px;
}
.sep-soical-medias {
  width: 45%;
  margin: 5px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}
.sep-soical-medias a {
  text-decoration: none;
}
.bottom-card {
  color: #ffff;
  border: 5px #afafaf solid;
  /* outline: #c1957c 4px solid; */
  height: 320px;
  margin-top: 45px;
  /* border-radius: 25px 25px  15px 15px ; */

  background-color: #c1957c;
}
.premium-bottom {
  outline: orange 4px solid;
  border: 5px #ffffff solid;
}
.store-name-link-a {
  color: #000000;
}
.location-store-card {
  background-color: #ffff;
  width: 100%;
  margin: 25px auto;
  height: 70px;
  border-radius: 15px;
  color: #c1957c;
}
.main-tm-location {
  background-color: orange;
  width: 170px;
  margin: 10px auto;
  margin-top: 10px;
}

/* Fixed Button */
.fixed-contact-btn {
  /* text-align: center; */
  bottom: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F7FA;
  z-index: 9999;
  position: fixed;
  width: 105px;
  /* background-color: #4b3b31; */
  height: 85px;

  margin-left: 40px;
}
.img-fixed-whatsapp-main {
  width: 55px;
  height: 55px;
}
.img-fixed-whatsapp {
  padding-left: 5px;
  /* margin: 0 auto; */
  /* display: fixed;; */
  width: 50px;
  height: 50px;
  /* animation-name: animationLive;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
*/ .live-text-wp {
  color: red;
  font-weight: 600;
  margin: 0 10px;
  font-size: 10px;
  /* text-align: center; */
  /* width: 100%; */
}
.red-dot-live {
  animation-name: animationLive;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-right: 2px;
  width: 10px;
  height: 10px;
}
.live-chat-text {
  color: #c1957c;
  font-size: 15px;
  font-weight: 600;
}
/* 
@keyframes animatiionLive {
    0%   {background-color: rgba(255, 0, 0, 0);}
    25%  {background-color: rgb(255, 0, 0);}
    50%  {background-color: blue;}
    100% {background-color: rgba(0, 128, 0, 0);}
  } */
@keyframes animationLive {
  0% {
    filter: opacity(0%);
  }
  25% {
    filter: opacity(10%);
  }
  50% {
    filter: opacity(80%);
  }
  100% {
    filter: opacity(100%);
  }
}
.atch-to-prdct {
  display: contents;
  color: black;
}
.atch-to-prdct:active {
  color: #391500;
}

.about-prdcts-container {
  width: 980px;
  margin: 45px auto;
}
.container-img {
  width: 100%;

  /* float: right; */
}
.img-prdct-row {
  width: 100%;
}
.big-prdct-img {
  height: 440px;
}
.small-img-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.small-prdct-img-col img {
  margin: 5px 15px;
  height: 200px;
  width: 150px;
}
.small-prdct-img {
  height: 200px;
  cursor: pointer;
  width: 180px;
}
.prev-icon-div {
  cursor: pointer;
  margin-top: 200px;
  position: absolute;
}
.next-icon-div {
  cursor: pointer;

  margin-top: 200px;
  right: 350px;
  position: absolute;
}

.prev-icon-div img {
  height: 100px;
  width: 65px;
}
.next-icon-div img {
  height: 100px;
  width: 65px;
}
header {
  width: 100%;

}
.swiper-slide { 
    width: fit-content !important;
    margin: 0 !important;
}
.product-header-div {
  width: 100%;
  height: fit-content;
  background-color: #f6f7fa;
}
.price-header-main {
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}
.price-azn {
  color: rgba(75, 75, 75, 0.471);
  font-size: 25px;
  margin-left: 5px;
}
.title-of-product {
  font-size: 28px;
  vertical-align: top;
}
.price-box-main {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* position: absolute; */

  line-height: 35px;
  font-size: 35px;
  padding: 15px;
  width: 240px;
  height: 40px;
  background-color: #c1957c;
  display: inline-block;
  color: #ffffff;
}
.price-box {
  width: 100px;
  margin: 0 auto;
}
.header-product-main {
  margin: 30px;
  vertical-align: top;
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  /* width: 700px; */
  /* height: 100px; */
}
.icons-in-header {
  /* background-color: #000000; */
  height: fit-content;
  display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.options-for-store-main {
  display: inline-block;
  margin: 8px;
}
.option-for-store-button {
  width: auto;
  border: 2px dashed #84583e;
  background-color: #ffffff;
}
.product-details {
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 15px;
}

.shop-details {
  display: inline-block;
  width: 270px;
}
.shop-details-main {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.shop-image {
  display: block;
  width: 270px;
}
.img-of-brand-main {
  display: flex;
  justify-content: space-around;
}
.img-of-brand {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.name-of-store {
  font-size: 30px;
  padding: 25px;
  color: #c1957c;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.name-of-store-main {
  width: 270px;
}
.awm-name {
  border-radius: 0 35px 0 35px;
  width: 240px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 0 auto;
  background-color: #c1957c;
  height: 60px;
}
.awm-name a {
  position: absolute;
  width: 240px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  color: #ffffff;
  text-decoration: none;
}
.awm-name span {
  transform: translateY(+5px);
}
.awm-name svg {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}
.contact-infos-main {
  margin-top: 35px;
  max-width: 370px;
  /* height: 300px; */
  border: 1px solid #c1957c;
  /* border-style:ridge; */
}
.contact-info {
  width: 220px;
  margin: 20px auto;
}
.contact-infos-main:last-child {
  margin-bottom: 15px;
}
.contact-info-header {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.all-ads-contact {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 0px;
  width: 220px;
  margin: 10px auto;
  padding: 8px;
  color: #ffff !important;
  background-color: #c1957c;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.contact-info img {
  width: 35px;
}
.contact-info a {
  transform: translateY(-5px);
  font-size: 25px;
  margin-left: 8px;
  text-decoration: none;
  color: #444444;
}
.shop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
.sep-product-details {
  vertical-align: top;
  width: 630px;
  top: 0;
  display: inline-block;
  margin-left: 20px;
  height: fit-content;
  margin-top: 30px;
}
.properties {
  margin-left: 15px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}
.categories {
  width: 200px;
  /* border-bottom: 1px solid rgb(76, 76, 76); */
  color: rgb(92, 92, 92);
}

.sub-details {
  color: #000000;
}
.table-rows {
  /* outline:1px  solid black; */
  width: 150px;
  /* text-align:center; */
  border: 1px solid black;

  box-shadow: 0px 1px 0px 0px rgb(0, 0, 0);
  border-bottom: thin solid rgb(76, 76, 76);
}

.must-read-div {
  display: inline-block;
  color: red;
  margin: 20px 20px;
  border: 3px dashed red;
  width: 255px;
  padding: 5px;
  
}

.same-ads-div {
  max-width: 100%;
  margin: 0 auto;
  
}
.ads-place {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 20px;
 
}
.legend-name-store {
  font-size: 15px;
  background-color: #c1957c;
  color: #ffffff;
}
.fieldset_name {
  border: 1px dashed #c1957c;
}
.send-message-wp-div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  vertical-align: top;
  margin: 20px 20px;
  height: fit-content;
  background-color: #c1957c;
  text-align: center;
  width: 180px;
  display: inline-block;
}
.send-message-wp-a {
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.send-message-wp-a img {
  width: 20px;
}
