.search-container {
    background-color: #231f20;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: -100%;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
  }
  .search-container .close-search {
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    outline: none;
    background: none;
  }

.search-box {
    font-size: 30px;
    padding: 14px 19px;
    border: 1px solid #C1C1C1;
    background-color: white;
    width: 9.8em;
    border-radius: 10px;

  }
  
  .search-box:hover {
    border-color: #AAAAAA;
  }
  
  .search-box:focus-within {
    border-color: #FF0080;
    box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
  }
  
  input {
    font-family: Proxima Nova;
    letter-spacing: -0.2px;
    font-size: 30px;
    border: none;
    color: #323232;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  
  input[type='search']::-webkit-search-cancel-button {
      -webkit-appearance: none;	
  }
  
  .clear:not(:valid) ~ .search-clear {
      display: none;
  }